body {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
}

.albums{
	width: 100%;
    float: left;
}
.albums-inner{
	
	margin-top: 7%;
	margin-right: auto;
	margin-left: auto;
}
.albums-title {
	float: left;
	width: 100%;
	color: rgba(53,117,159,1);
	font-size: 20px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgba(53,117,159,1);
	line-height: 50px;
	margin-bottom: 100px;
}
.albums-tab{
	float: left;
	margin-bottom: 0%;
	height: 200px;
}
.albums-tab:nth-child(3n+0) {
	margin-right: 0px;
}

.albums-tab-thumb{
	/*float: left;*/
	height: 200px;
}
.albums-tab-thumb img {
	height: 100%;
	background-color:rgba(255,255,255,1);
	padding: 3px;
	object-fit: cover;
	width: 100%;
	object-position: center;
	border-color: #6495ed54;		
}
.albums-tab-text{
	float: left;
	width: 100%;
	text-align: center;
	color: rgba(53,117,159,1);
	margin-top: 1rem;
	font-size: 14px;
	margin-bottom: 2rem;
}
.albums-tab-text span {
	font-size: 14px;
	color: rgba(102,102,102,1);
}
