.pagi{
  justify-content: center;
  text-align: center;
}
.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
}
.pagination li {
  display: inline;
  text-align: center;
  float: left;
}
.pagination .page-item {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
}
.page-item.active span.page-link{
  outline: none;
  cursor: default;
  color: #fff; 
  background-color: #3c5999;

}
/* #page-navi {
  width:50%;
  margin:10px auto;
  margin-bottom:10px;
  padding: 0px;
  text-align: center;
  overflow: hidden;
}

#page-navi li {
  list-style: none;
  display: inline;
}

#page-navi li a {
  padding: 8px 10px;
  background: #3c5999;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
  font-family: "Quicksand",sans-serif;
  border: 1px solid transparent;
  margin-top: 10px;
  color:#fff;
}

#page-navi li:last-child a {
  margin-right: 0px;
}

#page-navi li a.current,
#page-navi li a.disable,
#page-navi li a:hover {
  background: #fff;
  color: #3c5999;
  border: 1px solid #3c5999;
}
 */